/* *****************
----SECTION NAME-(ALL)
*********************/
.text-color-y{
    color: rgb(215, 190, 27);
}
ul{
    list-style: none;
    padding-inline-start: 0!important;
}
/* *****************
----TOP_NAV
*********************/
.top_nav {
    height: 20vh!important;
    width: 100%!important;
    background-color: aliceblue;
}
.top_nav .small_logo,
.top_nav .logo_1
{
    width: 100%;
}
.rounded-circle.bg-dark{
    width: 1.2rem;
    height: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:768px) {
    .fa-bell{
        font-size: 3rem;
    }
    .small_logo{
        max-width: 90%;
    }
}


/* *****************
----HEADER
*********************/
/* *****************
----SIDE_BAR
*********************/
.side_bar{
    height: 80vh;
    width: 150px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-image: url('../img/sidebar-bg.png');
    background-size: cover ;
    background-color: #051F34;
    color: white;
    padding: 1rem;
}
.side_bar ul{
    display: flex;
    height: 100%;

    flex-direction: column;
}
.side_bar ul li{
    display: flex;
    align-items:center;
    justify-content:start;
}
.last_1{
    height: 100%;
    align-items: flex-start!important;
}
.w_1{
    width: 1.5rem!important;
    height: 1.5rem!important;
    /* background-color: antiquewhite; */
}
.side_bar span{
    margin-left: 1em;
}
@media screen and (max-width:568px){ /****IMPORTANT CHECK***/
    .side_bar{
        width: 60px;
    }
   
    
    .side_bar i{
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    .side_bar span{
        display: none;
    }
}
/* *****************
----MAIN
*********************/